*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

/* header */
.w3-top, .w3-bottom {
    top:0;
    position: "fixed";
    width: 100%;
    z-index: 1;
}

.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}

.w3-card, .w3-card-2 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.w3-bar {
    width: 100%;
    overflow: hidden;
}

.w3-bar .w3-button {
    padding: 16px;
}
.w3-bar .w3-button {
    white-space: normal;
}
.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.w3-btn, .w3-button
{
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
}
.w3-wide {
    letter-spacing: 4px;
}

.w3-right {
    float: right!important;
}

@media (min-width: 993px){
.w3-hide-large {
    display: none!important;
}
}

/* sidebar */
.w3-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s;
}

.w3-card, .w3-card-2 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dGVjaG5vbG9neXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
    min-height: 400px;
}

.w3-greyscale-min, .w3-grayscale-min {
    filter: grayscale(50%);
}
.w3-tooltip, .w3-display-container {
    position: relative;
}

.w3-text-white, .w3-hover-text-white:hover {
    color: #fff!important;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-jumbo {
    font-size: 64px!important;
}

.w3-xxlarge {
    font-size: 36px!important;
}

.w3-large {
    font-size: 18px!important;
}

.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
    color: #757575!important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

element.style {
    padding: 128px 16px;
}

div {
    display: block;
}

/* about company */
.w3-center {
    text-align: center!important;
}

.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 8px;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
    width: 100%;
}

.w3-margin-bottom {
    margin-bottom: 16px!important;
}

@media (min-width: 601px){
.w3-col.m3, .w3-quarter {
    width: 22.99999%;
}
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* footer */
.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.w3-margin-right {
    margin-right: 16px!important;
}

