.display {
  padding: 0px 17px;
  background-color: #858694;
  color: white;
  font-size: 70px;
  text-align: right;
}

.row {
  flex-wrap: nowrap;
  margin-right: 0% !important;
  margin-left: 0px !important;
}

.row1 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.row2 {
  width: 200%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.container-fluid {
  padding: 0% !important;
}
